{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Lista de productos{% endblock title2 %}

{% block content %}
<br><br><br><br>

<div class="container">
  {% if messages %}
      {% for message in messages %}
      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
  <h4>Productos</h4>
  <div class="input-field col s2">
    <a class='dropdown-trigger btn black right' href='#' data-target='listas'>Listar</a>

  <!-- Dropdown Structure -->
  <ul id='listas' class='dropdown-content'>
    <li><a href="{% url 'koras_joyeria:listaCategorias' %}" class="black-text">Categorias</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{% url 'koras_joyeria:listaTallas' %}" class="black-text">Tallas</a></li>
    <!--<li><a href="{% url 'koras_joyeria:listaPesos' %}" class="black-text">Pesos</a></li>-->
    <li><a href="{% url 'koras_joyeria:listaColores' %}" class="black-text">Colores</a></li>
  </ul>
</div>
    <a href="{% url 'koras_joyeria:crearProductos' %}"> <i class="material-icons black-text small">add</i> </a> 
    <br><br>
    <table class="">
        <thead>
          <tr>
              <th>Imagen del producto</th>
              <th>Nombre del producto</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoria</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
            <!--ciclo user + profile-->
            {% for producto in productos %}
          <tr>
            <td><a href="{% url 'koras_joyeria:vistaProductos' %}"><img src="{{ producto.foto.url }}" alt="" width="200px"></a></td>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.precio_producto }}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.id_categoria }}</td>
            <td>
                <a href="{% url 'koras_joyeria:editarProductos' %}"> <i class="material-icons black-text small">edit</i></a> 
            </td>
            <td>
              <a href="{% url 'koras_joyeria:eliminarProducto' producto.id %}"> <i class="material-icons black-text small">delete</i></a>
            </td>
          </tr>
          {% endfor %}
          <!--fin ciclo-->
        </tbody>
      </table>
</div>

{% endblock content %}