{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Lista de productos{% endblock title2 %}


{% block alert %}
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
      "title":"Felicidades",
      "text":"{{m}}",
      "icon":"success",
      "confirmButtonColor":"black"
    });
</script>

{% endfor %}
{% endif %}

<script>
  function eliminarProducto(id) {
    Swal.fire({
      "title":"¿Estas seguro de eliminar?",
      "text":"Esta acción no se puede deshacer",
      "icon":"warning",
      "showCancelButton":true,
      "cancelButtonText":"No, Cancelar",
      "confirmButtonText":"Si, eliminar",
      "reverseButtons":true,
      "confirmButtonColor":"darkred"
    })

    .then(function(result) {
      if(result.isConfirmed) {
        window.location.href = "/eliminarProducto/"+id
      }
    })
     
    }
</script>
{% endblock alert %}

{% block content %}
<br><br>

<section class="sectionn card">
<br><br>
<div class="container">
  
  <h4>Productos</h4>

  <div class="input-field col s2">
    <a class='dropdown-trigger btn black right' href='#' data-target='listas'>Listar</a>
  <!-- Dropdown Structure -->
  <ul id='listas' class='dropdown-content'>
    <li><a href="{% url 'koras_joyeria:listaCategorias' %}" class="black-text">Categorias</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{% url 'koras_joyeria:listaTallas' %}" class="black-text">Tallas</a></li>
    <!--<li><a href="{% url 'koras_joyeria:listaPesos' %}" class="black-text">Pesos</a></li>-->
    <li><a href="{% url 'koras_joyeria:listaColores' %}" class="black-text">Colores</a></li>
  </ul>
</div>
    <a href="{% url 'koras_joyeria:crearProductos' %}"> <i class="material-icons black-text small">add</i></a> 
    <br><br>
    <table class="">
    <!--Buscador-->
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label for="autocomplete-input">Buscar un producto</label>
            </div>
          </div>
        </div>
      </div>
        <thead>
          <nav>
            <div class="nav-wrapper">
              <div class="col s12 black">
                <h5 class="center">Seleccionar categoria</h5>
                {% for cat in Categoria %}
                <a href="#!" class="breadcrumb">{{ cat.nombre_categoria }}</a>
                {% endfor %}
              </div>
            </div>
          </nav>
          <tr>
              <th>Imagen del producto</th>
              <th>Nombre del producto</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoria</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
        </thead>
        
        <tbody>
            <!--ciclo user + profile-->
            {% for p in Producto %}
          <tr>
            <td><a href="{% url 'koras_joyeria:vistaProductos' %}"><img src="{{ p.foto.url }}" alt="" width="130px"></a></td>
            <td>{{ p.nombre_producto }}</td>
            <td>{{ p.precio_producto }}</td>
            <td>{{ p.stock }}</td>
            <td>{{ p.id_categoria }}</td>
            <td>
                <a href="{% url 'koras_joyeria:editarProductos' p.id %}"> <i class="material-icons black-text small">edit</i></a> 
            </td>
            <td>
              <a onclick="eliminarProducto({{ p.id }})"> <i class="material-icons dl small">delete</i></a>
            </td>
          </tr>
          {% endfor %}
          <!--fin ciclo-->
        </tbody>
      </table>
</div>
</section>

{% endblock content %}