{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Lista de Tallas{% endblock title2 %}


{% block alert %}
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
      "title":"Felicidades",
      "text":"{{m}}",
      "icon":"success",
      "confirmButtonColor":"black"
    });
</script>

{% endfor %}
{% endif %}

<script>
  function eliminarTalla(id) {
    Swal.fire({
      "title":"¿Estas seguro de eliminar?",
      "text":"Esta acción no se puede deshacer",
      "icon":"warning",
      "showCancelButton":true,
      "cancelButtonText":"No, Cancelar",
      "confirmButtonText":"Si, eliminar",
      "reverseButtons":true,
      "confirmButtonColor":"darkred"
    })

    .then(function(result) {
      if(result.isConfirmed) {
        window.location.href = "/eliminarTalla/"+id
      }
    })
     
    }
</script>
{% endblock alert %}

{% block content %}
<br><br><br><br>

<div class="container">
 

    <h4>Lista de tallas</h4>
  
  <div class="input-field col s2">
    <a class='dropdown-trigger btn black right' href='#' data-target='listas'>Listar</a>

  <!-- Dropdown Structure -->
  <ul id='listas' class='dropdown-content'>
    <li><a href="{% url 'koras_joyeria:listaProductos' %}" class="black-text">Productos</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{% url 'koras_joyeria:listaCategorias' %}" class="black-text">Categoria</a></li>
    <!--<li><a href="{% url 'koras_joyeria:listaPesos' %}" class="black-text">Pesos</a></li>-->
    <li><a href="{% url 'koras_joyeria:listaColores' %}" class="black-text">Colores</a></li>
  </ul>
</div>
    <a href="{% url 'koras_joyeria:crearTallas' %}"> <i class="material-icons black-text small">add</i> </a> 
    <table class="">
        <thead>
          <tr>
              <th>Talla</th>
              <th>Categoria</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
            <!--ciclo user + profile-->
            {% for talla in tallas %}
          <tr>
            <td>{{ talla.talla }}</td>
            <td>{{ talla.id_categoria }}</td>
            <td>
                <a href="{% url 'koras_joyeria:editarTallas' talla.id %}"> <i class="material-icons black-text small">edit</i></a> 
            </td>
            <td>
              
              <a onclick="eliminarTalla({{ talla.id }})" > <i class="material-icons dl small">delete</i></a>
            </td>
          </tr>
          {% endfor %}
          <!--fin ciclo-->
    
        </tbody>
      </table>
</div>

{% endblock content %}