{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Lista de pesos{% endblock title2 %}


{% block alert %}
{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
      "title":"Peso creado",
      "text":"{{m}}",
      "icon":"success"
    });
</script>

{% endfor %}
{% endif %}

<script>
  function eliminarPeso(id) {
    Swal.fire({
      "title":"¿Estas seguro de eliminar?",
      "text":"Esta acción no se puede deshacer",
      "icon":"warning",
      "showCancelButton":true,
      "cancelButtonText":"No, Cancelar",
      "confirmButtonText":"Si, eliminar",
      "reverseButtons":true,
      "confirmButtonColor":"darkred"
    });
     
    }
</script>
{% endblock alert %}

{% block content %}
<br><br><br><br>

<div class="container">

    <h4>Lista de pesos</h4>
  
  <div class="input-field col s2">
    <a class='dropdown-trigger btn black right' href='#' data-target='listas'>Listar</a>

  <!-- Dropdown Structure -->
  <ul id='listas' class='dropdown-content'>
    <li><a href="{% url 'koras_joyeria:listaProductos' %}" class="black-text">Productos</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{% url 'koras_joyeria:listaCategorias' %}" class="black-text">Categoria</a></li>
    <li><a href="{% url 'koras_joyeria:listaTallas' %}" class="black-text">Tallas</a></li>
  </ul>
</div>
    <a href="{% url 'koras_joyeria:crearPesos' %}"> <i class="material-icons black-text small">add</i> </a> 
    <table class="">
        <thead>
          <tr>
              <th>Peso</th>
              <th>Categoria</th>
              <th>Editar</th>
              <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
            <!--ciclo user + profile-->
            {% for peso in pesos %}
          <tr>
            <td>{{ peso.peso }}</td>
            <td>{{ peso.categoria_id }}</td>
            <td>
                <a href="{% url 'koras_joyeria:editarPesos' %}"> <i class="material-icons black-text small">edit</i> </a> 
            </td>
            <td>
              <!--href="{% url 'koras_joyeria:eliminarColores' color.id %}"-->
              <a onclick="eliminarPeso({{ peso.id }})"> <i class="material-icons dl small">delete</i></a>
            </td>
          </tr>
          {% endfor %}
          <!--fin ciclo-->
    
        </tbody>
      </table>
</div>

{% endblock content %}