{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Catalogo{% endblock title2 %}

{% block content %} 
<div class="container" style="width: 80%;">
  <a href="{% url 'koras_joyeria:tienda' %}"><i class="medium material-icons left lgrey">arrow_back</i></a>
<div class="col s12">
  <div class="card horizontal">
    <div class="card-image">
      <img src="{{ subcategoria.foto.url }}" style="width: 280px; height: 100%;">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3 class="center">{{ subcategoria.categoria }} para {{ subcategoria.nombre_subcategoria }}</h3>
        <h5 class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, eum aliquid pariatur maiores molestiae velit nobis impedit. </h5>
      </div>
      
    </div>
  </div>
</div>
</div>
<div class="container">

  <div>
    <div class="row">
      
      {% for productos in subcategoria.get_productos.all %}

      <a href="{% url 'koras_joyeria:ver-producto' productos.id %}">
      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ productos.imagen.url }}" width="auto" height="200px">
          </div>
        </a>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ productos.nombre_producto }}<i
                class="material-icons right">more_vert</i></span>
          </div>
          
          <div class="card-reveal">
            <strong class="black-text">Fecha:</strong>
        <span class="grey-text">{{ productos.timestamp }}</span>
            <span class="card-title grey-text text-darken-4">{{ productos.nombre_producto }}<i class="material-icons right">close</i></span>
            <p>{{ productos.desc }}</p>
            <p>precio: {{ productos.precio_producto }}</p>
            <a class="waves-effect waves-light btn grey right" href="{% url 'koras_joyeria:Add' productos.id %}">Agregar al carrito</a>
          </div>
        </div>
      </div>
      {% endfor %}

      

      
    </div>

 
      
{% endblock %}
