{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Tienda{% endblock title2 %}

{% block alert %}


{% if messages %}

{% for m in messages %}

{% if request.user.is_authenticated %}

<script>
  Swal.fire({
    "title":"Acceso denegado",
    "text":"{{m}}",
    "icon":"warning",
    "confirmButtonText":"Cerrar ventana",
    "reverseButtons":true,
    "confirmButtonColor":"black"
  })
</script>

{% else %}

<script>
  Swal.fire({
    "title":"Importante",
    "text":"{{m}}",
    "icon":"warning",

    "showCancelButton":true,
    "cancelButtonText":"Cancelar",
    "confirmButtonText":"Iniciar",
    "reverseButtons":true,
    "confirmButtonColor":"black"
  })

  .then(function(result) {
    if(result.isConfirmed) {
      window.location.href = "/inicio/"
    }
  })
   

</script>

{% endif %}

{% endfor %}
{% endif %}

{% endblock alert %}


{% block content %} 


<section>
<br><br>
    <div>
      <div class="row">
        <div class="">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_19405087-stock-photo-golden-heart-on-blazing-defocused.jpg' %}" alt="">
                <div class="caption center-align">
                  <h3 class="lgrey">Lorem, ipsum dolor.</h3>
                  <h5 class="light black-text text-lighten-3">Lorem, ipsum dolor.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_263571630-stock-photo-young-naked-woman-shiny-makeup.jpg' %}" alt="">
                <div class="caption left-align">
                  <h3 class="black-text">Lorem, ipsum dolor.</h3>
                  <h5 class="light lgrey text-lighten-3">Lorem ipsum dolor sit.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_134801838-stock-photo-female-hands-with-jewelry.jpg' %}" alt="">
                
                <div class="caption right-align">
                  <h3>Lorem, ipsum dolor.</h3>
                  <h5 class="light lgrey text-lighten-3">Lorem ipsum dolor sit.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_483543208-stock-photo-cropped-view-young-indian-bride.jpg' %}" alt="">
                <div class="caption center-align">
            <h3 class="lgrey">Lorem, ipsum dolor.</h3>
            <h5 class="light black-text text-lighten-3">Lorem ipsum dolor sit.</h5>
          </div>
              </li>
            </ul>

            
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="container">
    <h4 class="center lgrey">Lo nuevo en Koras Joyería ✨</h4>
    <p class="center grey-text">Nuevos productos a la venta</p>
    <hr>
  </div>
    <div class="carousel center" style="width: 1200px; right: 12%; height: 150px;">
      {% for newproducto in newproduct %}
      <a class="carousel-item" style="width: 250px;" href="{% url 'koras_joyeria:ver-producto' newproducto.id %}"><img src="{{ newproducto.imagen.url }}"></a>
      {% endfor %}
    </div>
    <br>
    <div class="container">
      <h4 class="center lgrey">Nuestro Catálogo</h4>
    <hr>
    </div>

    <div>
      <div class="cards-list">
      
        {% for categoria in categorias %}
        <a href="{% url 'koras_joyeria:mostrarCatalogo' categoria.id %}">
          <div class="cardd 1" style="height: 500px;">
            <div class="card_imagen"> <img src="{{ categoria.foto.url }}" /> </div>
            <div class="card_title title-white">
              <h4 class="lgrey">{{ categoria.nombre_categoria }}</h4>
            </div>
          </div>
        </a>
          {% endfor %}
          
          
          </div>
    </div>
    <div>
      <div class="row">
        
        {% for newproductos in newproducts %}

        <a href="{% url 'koras_joyeria:ver-producto' newproductos.id %}">
        <div class="col 14 m4 s12 animate__animated animate__flipInY">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ newproductos.imagen.url }}" width="auto" height="200px">
            </div>
          </a>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ newproductos.nombre_producto }}<i
                  class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
              <strong class="black-text">Fecha:</strong>
          <span class="grey-text">{{ newproductos.timestamp }}</span>
              <span class="card-title grey-text text-darken-4">{{ newproducto.nombre_producto }}<i class="material-icons right">close</i></span>
              <p>{{ newproductos.desc }}</p>
              <p>precio: {{ newproductos.precio_producto }}</p>
              <a class="waves-effect waves-light btn grey right" href="{% url 'koras_joyeria:Add' newproductos.id %}">Agregar al carrito</a>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
  </div>
    <br>
    <div class="container center">
      <a class="waves-effect waves-light btn grey center"><i class="material-icons left">cloud</i>Ver todo</a>
    </div>
    <br><br>

    <div class="container">
      <h5 class="center">Diseña tus joyas</h5>
      <p class="lgrey center">Crea diseños personalizados a tu preferencia y encuentra las mejores opciones para realizar tu compra</p>
      <hr>
      <h5 class="lgrey center">Pasos a seguir para realizar un diseño personalizado</h5>
      </div>

    <div class="col s12 m7">
      <h2 class="header">Elige una base para tu joya</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1249442477-612x612.jpg' %}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Como primer paso tendras que imaginar como es la joya que quieres y luego seleccionar un tipo de base para la misma que se encontraran disponibles en el sistema, despues daras a la clic en la opcion de continuar para seguir con el proceso de diseñar joya</p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">Paso 1: Seleccionar base</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col s12 m7">
      <h2 class="header">Elige una ensamble o piedra para tu joya</h2>
      <div class="card horizontal">
        
        <div class="card-stacked">
          <div class="card-content">
            <p>Como segundo paso tendras que seleccionar un ensamble o piedra que quieres que adquiera tu joya a comprar.</p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">Paso 2: Seleccionar un ensamble o piedra</a>
          </div>
        </div>
        <div class="card-image">
          <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-516889988-612x612.jpg' %}">
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <h2 class="header">Selecciona tu joya</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1274828960-612x612.jpg' %}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Luego de realizar los dos pasos anteriores ya tendras lista la maqueta de tu joya personalizada, por lo tanto podras elegir tu joya ideal entre las opciones que te mostraremos por pantalla.</p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">Paso 3: Seleccionar joya</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <h2 class="header">Comprar joya</h2>
      <div class="card horizontal">
        
        <div class="card-stacked">
          <div class="card-content">
            <p>Al seleccionar la joya que prefieres podras visualizar el detalle de su informaciòn y caracteristicas y podras agregarla a tu carrito de compras para realizar tu compra.
              Como segundo paso tendras que seleccionar un ensamble o piedra que quieres que adquiera tu joya a comprar.</p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">Paso 4: Comprar joya</a>
          </div>
        </div>
        <div class="card-image">
          <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1251002827-612x612.jpg' %}">
        </div>
      </div>
    </div>

    <div class="center">
      <a href="{% url 'koras_joyeria:diseñarHome' %}" class="waves-effect waves-light btn #757575 grey darken-1">Ir a diseñar joya</a>
    </div>
  
  </section>

    <br><br>


  


{% endblock content %}


