{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Tienda{% endblock title2 %}

{% block alert %}


{% if messages %}

{% for m in messages %}

{% if request.user.is_authenticated %}

<script>
  Swal.fire({
    "title":"Acceso denegado",
    "text":"{{m}}",
    "icon":"warning",
    "confirmButtonText":"Cerrar ventana",
    "reverseButtons":true,
    "confirmButtonColor":"black"
  })
</script>

{% else %}

<script>
  Swal.fire({
    "title":"Importante",
    "text":"{{m}}",
    "icon":"warning",

    "showCancelButton":true,
    "cancelButtonText":"Cancelar",
    "confirmButtonText":"Iniciar",
    "reverseButtons":true,
    "confirmButtonColor":"black"
  })

  .then(function(result) {
    if(result.isConfirmed) {
      window.location.href = "/inicio/"
    }
  })
   

</script>

{% endif %}

{% endfor %}
{% endif %}

{% endblock alert %}


{% block content %} 


<section>
<br><br>
    <div>
      <div class="row">
        <div class="">
          <div class="slider">
            <ul class="slides">
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_348355676-stock-photo-cropped-view-gemstone-jewelry-board.jpg' %}" alt="">
                <div class="caption center-align">
                  <h3>Lorem, ipsum dolor.</h3>
                  <h5 class="light black-text text-lighten-3">Lorem, ipsum dolor.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-486949044-612x612.jpg' %}" alt="">
                <div class="caption left-align">
                  <h3>Lorem, ipsum dolor.</h3>
                  <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\depositphotos_12252249-stock-photo-close-up-of-beautiful-womans.jpg' %}" alt="">
                <div class="caption right-align">
                  <h3>Lorem, ipsum dolor.</h3>
                  <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
                </div>
              </li>
  
              <li>
                <img src="{% static 'koras_joyeria\imagenes\joyas\jewellery-784410__340.jpg' %}" alt="">
                <div class="caption center-align">
            <h3>Lorem, ipsum dolor.</h3>
            <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
          </div>
              </li>
            </ul>

            
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="container">
    <h4 class="center lgrey">Lo nuevo en la colecciòn</h4>
    <p class="center grey-text">Ultimos productos agregados a la tienda</p>
    <hr>
  </div>
    <div class="carousel center" style="width: 1200px; right: 12%; height: 150px;">
      {% for newproducto in newproduct %}
      <a class="carousel-item" style="width: 250px;" href="{% url 'koras_joyeria:ver-producto' newproducto.id %}"><img src="{{ newproducto.imagen.url }}"></a>
      {% endfor %}
    </div>
    <br>
    <div>
      <div class="row">
        
        {% for newproducto in newproducts %}

        <a href="{% url 'koras_joyeria:ver-producto' newproducto.id %}">
        <div class="col 14 m4 s12 animate__animated animate__flipInY">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ newproducto.imagen.url }}" width="auto" height="200px">
            </div>
          </a>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ newproducto.nombre_producto }}<i
                  class="material-icons right">more_vert</i></span>
            </div>
            
            <div class="card-reveal">
              <strong class="black-text">Fecha:</strong>
          <span class="grey-text">{{ newproducto.timestamp }}</span>
              <span class="card-title grey-text text-darken-4">{{ newproducto.nombre_producto }}<i class="material-icons right">close</i></span>
              <p>{{ newproducto.desc }}</p>
              <p>precio: {{ newproducto.precio_producto }}</p>
              <a class="waves-effect waves-light btn grey right" href="{% url 'koras_joyeria:Add' newproducto.id %}">Agregar al carrito</a>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
  </div>
    <br>
    <div class="container center">
      <a class="waves-effect waves-light btn grey center"><i class="material-icons left">cloud</i>Ver todo</a>
    </div>
    <br>

    <div class="container">
      <h4 class="center lgrey">Categorias</h4>
      <p class="center grey-text">Selecciona una de las categorias para visualizar sus productos</p>
    <hr>
    </div>

    <div>
      <div class="cards-list">
      
        {% for categoria in categorias %}
        <a href="{% url 'koras_joyeria:mostrarCatalogo' categoria.id %}">
          <div class="cardd 1" style="height: 200px;">
            <div class="card_imagen"> <img src="{{ categoria.foto.url }}" /> </div>
            <div class="card_title title-white">
              <p>{{ categoria.nombre_categoria }}</p>
            </div>
          </div>
        </a>
          {% endfor %}
          
          
          </div>
    </div>

  <section>

    <section id="p-4" class="section scrollspy">
      <div class="sesion container filt">
        <h4>JOYERÍA</h4>
        <a class='dropdown-trigger btn #e0e0e0 grey lighten-2 black-text' href='#' data-target='filtro1'>Filtrar</a>
        <ul id='filtro1' class='dropdown-content'>
          <li><a href="#!" class="black-text">one</a></li>
          <li><a href="#!" class="black-text">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!" class="black-text">three</a></li>
          
        </ul>
        <a href="{% url 'koras_joyeria:diseñarHome' %}" class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text"><i class="material-icons left">brush</i>Personalizar diseño</a>
      </div>
    </section>
 
  </section>

  <section style=" display: flex; justify-content: center;" >
    <div style="width: 90%;" class="card" >
      <div class="row">
        
        {% for producto in productos %}

        <a href="{% url 'koras_joyeria:ver-producto' producto.id %}">
        <div class="col 14 m4 s12 animate__animated animate__flipInY">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ producto.foto.url }}" width="auto" height="200px">
            </div>
          </a>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ producto.nombre_producto }}<i
                  class="material-icons right">more_vert</i></span>
              <a class="waves-effect waves-light btn black grey-text right" href="{% url 'koras_joyeria:Add' producto.id %}">Agregar al carrito</a>
            </div>
            
            <div class="card-reveal">
              <strong class="black-text">Fecha:</strong>
          <span class="grey-text">{{ producto.timestamp }}</span>
              <span class="card-title grey-text text-darken-4">{{ producto.nombre_producto }}<i class="material-icons right">close</i></span>
              <p>precio: {{ producto.precio_producto }}</p>
              <p>{{ producto.desc }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div>
      
    </div>
  </section>


{% endblock content %}


