{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Producto{% endblock title2 %}

{% block content %}

<div class="container">
    <br><br><br>

    <div class="flex-producto container">
        <div class="imgs-producto">
            <div>
                
                {% for producto in productos %}
                <div>
                    <img src="{{ producto.imagenes.second.imagen.url }}" alt="imagen producto" width="30px" >
                </div>
                
                {% endfor %}
                
            </div>
        </div>
        <img src="{{ data.imagenes.first.imagen.url }}" alt="{{ data.nombre_producto }}" width="50%">
        <div class="content-producto">
            <h4>{{ data.nombre_producto }}</h4>
            <p>DESCRIPCION</p>
            <P>{{ data.desc }}</P>
            <p>color:</p>
            <a class='dropdown-trigger btn' href='#' data-target='colorDrop'>{{ data.color }}</a>

            <ul id='colorDrop' class='dropdown-content'>
                <li><a href="#!">Dorado</a></li>
                <li><a href="#!">Plateado</a></li>
            </ul>
            <p>Talla:</p>
            <a class='dropdown-trigger btn' href='#' data-target='tallaDrop'>{{ data.talla }}</a>

            <ul id='tallaDrop' class='dropdown-content'>
                <li><a href="#!">1</a></li>
                <li><a href="#!">2</a></li>
                <li><a href="#!">3</a></li>
            </ul>
            <p>Precio: {{ data.precio_producto }}</p>

        </div>
    </div>
    <br>
    <span>SIMILARES</span>
    <hr>
</div>


{% endblock content %}