<div class="container">
    <table>
      {% if request.session.carrito.items %}
        <thead>
            
            <tr>
                <th>CARRITO</th>
            </tr>
          <tr> 
              <th>NOMBRE</th>
              <th>PRECIO</th>
              <th>CANTIDAD</th> 
              <!--
              Agregar mas cantidad
              -->
          </tr>
        </thead>

        <tbody>
          <br><br>
          <div class="row">
            <div class="col-6"><a href="{% url 'koras_joyeria:CLS' %}" class="waves-effect waves-light btn black grey-text">Eliminar productos</a></div><br>
            <div class="col-6"><a href="#" class="waves-effect waves-light btn black grey-text">Guardar</a></div>
          </div>
            {% for key, value in request.session.carrito.items %}
          <tr>
           
            <td>{{ value.nombre_producto }}</td>
            <td>{{ value.acumulado }}</td>
            <td>{{ value.cantidad }}</td>
            <td><a class="waves-effect waves-light black-text" href="{% url 'koras_joyeria:Add' value.producto_id %}"><i class="material-icons">add</i></a></td>
            <td><a class="waves-effect waves-light black-text" href="{% url 'koras_joyeria:Sub' value.producto_id %}"><i class="material-icons">remove</i></a></td>
          </tr>
          {% endfor %}

          {% else %}
          <div class="container center">
              <h4 >Sin productos</h4>
              <i class="material-icons large">remove_shopping_cart</i>
              <div>
              <a class="waves-effect waves-light btn black grey-text">Ir a comprar</a>
            </div>
          </div>
          
          <tr>
            <th scope="row">Total:</th>
            <td colspan="2">$ {{ total_carrito }}</td>
          </tr> 
        </tbody>
        {% endif %}
      </table>
</div>

