
{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Iniciar sesión{% endblock title2 %}

{% block content %}

<section>
  {% block headerBase %}  {% endblock headerBase %}

  <div class="flex-registro">
    <a href=""><i class="medium material-icons left black-text">arrow_back</i></a>
    <div class="formRegistro">
      {% if request.user.is_athenticated %}
      <h1>Sesión iniciada</h1>
      {% else %}
      
      {% if messages %}
      {% for message in messages %}
      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
      {% endfor %}
      
      {% endif %}

      <h5>Iniciar sesión</h5>
      <form action="" method="POST">
        {% csrf_token %}

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="username">
          <label for="icon_prefix">Nombre de usuario</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_prefix" type="password" class="validate" name="password">
          <label for="icon_prefix">Contraseña</label>
        </div>
  
        <button class="waves-effect waves-light btn #424242 grey" type="submit" id="submit">INICIAR SESIÓN</button>
      </form>
      <br>
      <a href="{% url 'koras_joyeria:registro' %}" class="black-text link-inicio">No tienes una cuenta?</a>
      {% endif %}
    </div>
  </div>

</section>

{% endblock content %}