
{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Registro{% endblock title2 %}

{% block content %}

<section>

  <div class="flex-registro">
    <div class="formRegistro">
      <h5>Iniciar sesión</h5>
      <form action="">

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre de usuario</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_prefix" type="password" class="validate">
          <label for="icon_prefix">Contraseña</label>
        </div>
  
      <a class="waves-effect waves-light btn #424242 grey" type="submit">Iniciar sesión</a>

      </form>
    </div>
  </div>

</section>

{% endblock content %}