{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Registro{% endblock title2 %}

{% block content %}

<section>

  {% block headerBase %}  {% endblock headerBase %}

  <!--
  {% if messages %}
  {% for message in messages %}
  <script>
    Swal.fire({
      title: '{{message}}',
      showClass: {
        popup: 'animate__animated animate__fadeInDown'
      },
      hideClass: {
        popup: 'animate__animated animate__fadeOutUp'
      }
    })
  </script>
  {% endfor %}
  {% endif %}
-->

  <div class="flex-registro">
    <a href="{% url 'koras_joyeria:home' %}"><i class="medium material-icons left black-text">arrow_back</i></a>
    <div class="formRegistro">
      {% if messages %}
      {% for message in messages %}
      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
      
      <h5>Registro</h5>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <!--
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity</i>
          <input id="icon_prefix" type="text" class="validate" name="first_name">
          <label for="icon_prefix">Nombre</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">person</i>
          <input id="icon_prefix" type="text" class="validate" name="last_name">
          <label for="icon_prefix">Apellido</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate" name="username">
          <label for="icon_prefix">Nombre de usuario</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="email" class="validate" name="email">
          <label for="icon_prefix">Email</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">lock_outline</i>
          <input id="icon_prefix" type="password" class="validate" name="password1">
          <label for="icon_prefix">Contraseña</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="icon_prefix" type="password" class="validate" name="password2">
          <label for="icon_prefix">Confirme la contraseña</label>
        </div>
      -->

        <button class="waves-effect waves-light btn #424242 grey" type="submit" id="submit">REGISTRARSE</button><br><br>
        <a href="{% url 'koras_joyeria:inicio' %}" class="center black-text">Ya tienes una cuenta?</a>

      </form>
    </div>
  </div>

</section>

{% endblock content %}

{% block alert %}

{% endblock alert %}