{% extends 'koras_joyeria/base/base.html' %}

{% load static %}

{% block title2 %}Crear categoria{% endblock title2 %}

{% block content %}

<div class="container center">
    <br><br><br><br>
    <a href="{% url 'koras_joyeria:listaCategorias' %}"><i class="small material-icons left black-text">arrow_back</i></a>

    <div class="row">
        <form class="col s12" method="post" action="{% url 'koras_joyeria:addCategorias' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">

            <div class="input-field col s6">
              <input placeholder="" type="text" class="validate" value="" name="nombre_categoria">
              <label for="first_name">Nombre de la categoria</label>
            </div>

          </div>

          <div class="file-field input-field">
            <div class="btn grey">
                <span><i class="material-icons center">add_a_photo</i></span>
                <input type="file" multiple name="foto" accept="image/*">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Agregar una imagen para la categoria">
            </div>
        </div>
          <button class="waves-effect waves-light btn black" type="submit">Crear categoria</button>
        </form>
        <div class="row center">
      </div>
      </div>
</div>


{% endblock content %}