{% extends 'koras_joyeria/base/base.html' %}

{% load static %}

{% block title2 %}Crear categoria{% endblock title2 %}

{% block content %}

<div class="container center">
    <br><br><br><br>
    <a href="{% url 'koras_joyeria:listaTallas' %}"><i class="small material-icons left black-text">arrow_back</i></a>

    <div class="row">
        <form class="col s12" method="post" action="{% url 'koras_joyeria:addTallas' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">

            <div class="input-field col s6">
              <input placeholder="" id="first_name" type="text" class="validate" value="" name="talla">
              <label for="first_name">Nombre de la talla</label>
            </div>

            <div class="input-field col s6">
              <select class="browser-default" name="id_categoria" required="required">
                  <option disabled selected>SELECCIONAR CATEGORIA</option>
                  {% for c in Categoria %}
                  <option value="{{ c.id }}"> {{ c.nombre_categoria }}</option>
                  {% endfor %}
              </select>
          </div>
           
          </div>
          <button class="waves-effect waves-light btn black" type="submit">Crear talla</button>
        </form>
        <div class="row center">
      </div>
      </div>
</div>


{% endblock content %}