{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Personalizar argolla{% endblock title2 %}

{% block content %} 

<section>
    <div class="container">
        <div class="sesion container">
            <h4>Personaliza tu argolla</h4>
          </div>
        <hr>
        <form action="#">
            <div class="file-field input-field">
              <div class="btn #757575 grey darken-1">
                <span>ADJUNTAR IMAGEN DEL ANILLO</span>
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
              </div>
            </div>
          </form>

        <a href="">
        <div class="card div-product">
           
            <h5>posibles resultados</h5>
    </a>

    

    </div>
</section>


{% endblock %}