{% extends 'koras_joyeria/base/base.html' %}

{% block title2 %}Home{% endblock title2 %}

{% block content %}
content
<h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, fuga reiciendis commodi repellendus labore deleniti dolores exercitationem quibusdam eos ullam quam voluptatum voluptatibus sint doloribus molestias blanditiis, at a aspernatur.</h1>
<br>
<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A possimus aperiam quia obcaecati earum veniam sint eum corporis nemo omnis animi magni, ex quis hic aliquam molestiae! Fuga, mollitia harum.</h1>
{% endblock content %}
