{% extends 'koras_joyeria/base/base.html' %}
{% load static %}
{% block title2 %}Inicio{% endblock title2 %}

{% block content %}
<br><br><br><br>
<section>
  <div class="container section">
    <div class="row">
      <div class="col s12">

        <div class="slider">
          <ul class="slides">

            <li>
              <img src="{% static 'koras_joyeria/img/port1.jpg' %}" alt="">
              <div class="caption center-align">
                <h3>Lorem, ipsum dolor.</h3>
                <h5 class="light grey-text text-lighten-3">Lorem, ipsum dolor.</h5>
              </div>
            </li>

            <li>
              <img src="{% static 'koras_joyeria/img/port2.jpg' %}" alt="">
              <div class="caption left-align">
                <h3>Lorem, ipsum dolor.</h3>
                <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
              </div>
            </li>

            <li>
              <img src="{% static 'koras_joyeria/img/port3.jpg' %}" alt="">
              <div class="caption right-align">
                <h3>Lorem, ipsum dolor.</h3>
                <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
              </div>
            </li>

            <li>
              <img src="{% static 'koras_joyeria/img/port3.jpg' %}" alt="">
              <div class="caption center-align">
          <h3>Lorem, ipsum dolor.</h3>
          <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit.</h5>
        </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sesion container">
    <h4>PRODUCTOS</h4>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>

      <div class="col 14 m4 s12 animate__animated animate__flipInY">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator"
              src="https://cdn.shopify.com/s/files/1/0229/0839/files/vender_-joyas-online_b4942d0e-241e-4dc3-a09a-a1b085992ddc.jpg?v=1624968676&width=1024">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i
                class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h3>Visualiza nuestro catalogo</h3>
</section>

<section>
  <h3>Quienes somos</h3>
</section>

<section>
  <div class="container flex-info">
    <div class="info">
      información general
    </div>
    <img src="{% static 'koras_joyeria/img/port2.jpg' %}" alt="" class="img-info">
  </div>
</section>

<!--Parte inferior : categorias-->
<section>
  <div class="container flex-carousel">
    <div class="carousel">
      <h4 class="center">titulo1</h4>
      <a class="carousel-item" href="#one!"><img src="{% static 'koras_joyeria/img/port7.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img src="{% static 'koras_joyeria/img/port1.jpg' %}"></a>
      <a class="carousel-item" href="#three!"><img src="{% static 'koras_joyeria/img/port2.jpg' %}"></a>
      <a class="carousel-item" href="#four!"><img src="{% static 'koras_joyeria/img/port3.jpg' %}"></a>
      <a class="carousel-item" href="#five!"><img src="{% static 'koras_joyeria/img/port4.jpg' %}"></a>
    </div>

    <div class="carousel">
      <h4 class="center">titulo2</h4>
      <a class="carousel-item" href="#one!"><img src="{% static 'koras_joyeria/img/port7.jpg' %}"></a>
      <a class="carousel-item" href="#two!"><img src="{% static 'koras_joyeria/img/port1.jpg' %}"></a>
      <a class="carousel-item" href="#three!"><img src="{% static 'koras_joyeria/img/port2.jpg' %}"></a>
      <a class="carousel-item" href="#four!"><img src="{% static 'koras_joyeria/img/port3.jpg' %}"></a>
      <a class="carousel-item" href="#five!"><img src="{% static 'koras_joyeria/img/port4.jpg' %}"></a>
    </div>

  </div>
</section>


{% endblock %}