{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'koras_joyeria/img/favicon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'koras_joyeria/material/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'koras_joyeria/material/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'koras_joyeria/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--JAVASCRIPT-->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    {% block links %}  {% endblock links %}

    <title>{% block title1 %}Koras Joyeria - {% endblock title1 %} {% block title2 %} ... {% endblock title2 %} </title>
</head>
<body>
    {% block headerBase %}
    <header class="header">
     
        <div class="menu-nav">
            <a href="#" data-target="menu-side" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
            
            {% if request.user.is_authenticated %}
            <div>
            
                <a class='dropdown-trigger right micuenta' href='#' data-target='micuenta'><img src="{{ user.profile.image.url }}" class="profile-navbar right"></a>
               
        </div>
                <ul id='micuenta' class='dropdown-content'>
                    <li><a href="{% url 'koras_joyeria:profileEdit' %}">Editar</a></li>
                    <li><a href=""><i class="material-icons">power_settings_new</i></a></li>
                  </ul>
                  {% endif %}

            <a class="waves-effect waves-light  modal-trigger right" href="#carrito">
                <span class="material-icons right black-text small">
                    shopping_bag
                    </span>
            </a>
    </div>
</header>
{% endblock headerBase %}

<div id="carrito" class="modal">
    <div class="modal-content">
       <div class="col-6">
        {% include "koras_joyeria/tienda/ver-carrito.html" %}
       </div>
        
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

            <ul id="menu-side" class="sidenav">
                <li><div class="user-view">
                  <div class="background">
                    <img src="{% static 'koras_joyeria/img/font-joyas.jpg' %}" width="100%">
                  </div>
                  <a href="#user"><img src="{% static 'koras_joyeria/img/logo.png' %}" class="logo-menu"></a>
                  <a href="#name"><span class="white-text name"> {% block nombreMenu %} {% endblock nombreMenu %} </span></a>
                  <a href="#email"><span class="white-text email">{% block emailMenu %}{% endblock emailMenu %}</span></a>
                </div></li>

                {% block contentMenu %}

                {% if request.user.is_authenticated %}
                <li><a href="{% url 'koras_joyeria:profile' %}" class="cuenta"><img src="{{ user.profile.image.url }}" class="profile-nav">Perfil</a></li>

                {% if request.user.profile.rol == 1 %}
                <li><a href="{% url 'koras_joyeria:listaUsuarios' %}"><i class="material-icons">people</i>Usuarios</a></li>
                <li><a href="{% url 'koras_joyeria:listaProductos' %}"><i class="material-icons">pie_chart</i>Productos</a></li>
                {% endif %}

                {% else %}
                <li><a href="{% url 'koras_joyeria:registro' %}"><i class="material-icons">perm_identity</i>Registrarse</a></li>
                <li><a href="{% url 'koras_joyeria:inicio' %}"><i class="material-icons">person</i>Iniciar sesión</a></li>
                {% endif %}

                <li><a href="{% url 'koras_joyeria:home' %}"><i class="material-icons">home</i>Acerca de Koras Joyería</a></li>
                <li><a href="{% url 'koras_joyeria:tienda' %}"><i class="material-icons">store</i>Tienda</a></li>
                <li><a href="{% url 'koras_joyeria:carritoCompra' %}"><i class="material-icons">shopping_cart</i>Mi carrito de compras</a></li>

                <li><a class='dropdown-trigger' href='#' data-target='dropdown1'><i class="material-icons">view_module</i>Catálogo</a></li>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">Cadenas</a></li>
                    <li><a href="#!">Relojes</a></li>
                    <li><a href="#!">Pulseras</a></li>
                    <li><a href="#!">anillos</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!"><i class="material-icons">view_module</i>Matrimonio</a></li>
                  </ul>

                  <li><a class='dropdown-trigger' href='#' data-target='dropdown2'><i class="material-icons">brush</i>Crea prediseños</a></li>
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="#!">p1</a></li>
                    <li><a href="#!">p2</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!">p3</a></li>
                    <li><a href="#!"><i class="material-icons">view_module</i>p4</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>p5</a>p5</li>
                  </ul>

                <li><div class="divider"></div></li> 

                <li><a href="{% url 'koras_joyeria:inquietudes' %}"><i class="material-icons">question_answer</i>Dudas o inquietudes</a></li>

                <li><a href=""><i class="material-icons">connect_without_contact</i>Contáctenos</a></li>

                <li><a class='dropdown-trigger' href='#' data-target='dropdown3'>Contáctenos</a></li>
                <ul id='dropdown3' class='dropdown-content'>
                    <li><a href="#!">Acerca de nosotros</a></li>
                    <li><a href="#!">Testimonios y Comentarios</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a href="#!">Contáctenos</a></li>
                  </ul>

                  {% if request.user.is_authenticated %}
                <li><a href="{% url 'koras_joyeria:logout' %}"><i class="material-icons">power_settings_new</i>Cerrar sesión</a></li>
                {% endif %}

                {% endblock contentMenu %}

              </ul>

    <br><br><br><br>

    {% block content %}
    
    {% endblock %}
<br><br><br><br>

    <footer class="page-footer #212121 grey darken-4">
        <div class="row">

        <div class="flex1 col l6 s12">
            <img src="{% static 'koras_joyeria/img/hablando.png' %}" alt="" class="img-hablando">
            <div class="enlaces-footer">
                <h5 class="Enlace-footer">ENLACES</h5>
                <a href="#" class="enlace-footer">enlace 1</a>
                <a href="#" class="enlace-footer">enlace 2</a>
                <a href="#" class="enlace-footer">enlace 3</a>
                <a href="#" class="enlace-footer">enlace 4</a>
                <a href="#" class="enlace-footer">enlace 5</a> 
            </div>
        </div>
        
            <div class="redes-footer col 14 m4 s12">
                <h5 class="Enlace-footer">REDES SOCIALES</h5>
                <div class="icons-footer">
              <a href="" class="red-footer"><i class="material-icons">facebook</i></a>
              <a href="" class="red-footer"><i class="material-icons">facebook</i></a>
              <a href="" class="red-footer"><i class="material-icons">facebook</i></a>
              <a href="" class="red-footer"><i class="material-icons">facebook</i></a>
            </div>
            </div>
           
            <div class="redes-footer col 12 m10 s12">
                <h5 class="Enlace-footer">DEJA TU CORREO ELECTRONICO</h5>
                <div>
                    <input type="email" placeholder="Ingresa tu correo electronico">
            </div>
            </div>
        </div>

        <div class="contact-footer col 10 m4 s12">
         
            <div class="t2-footer ">
                <i class="material-icons">phone</i>
                <a href="" class="contacts-footer">telefonoo</a>
            </div>
            <div class="t2-footer">
                <i class="material-icons">mail</i>
                <a href="" class="contacts-footer">email</a>
            </div>
            <div class="t2-footer">
                <i class="material-icons">location_on</i>
                <a href="" class="contacts-footer">dirección</a>
            </div>
        </div>
        <div class="domin-desarrollador col 14 m4 s12">
            <a href="" class="domin-text">Koras Joyería</a>
        </div>

    </div>
       
    </footer>

    <script>
    document.addEventListener('DOMContentLoaded', function() {

        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);

        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems);

        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems);

        var elems = document.querySelectorAll('.scrollspy');
        var instances = M.ScrollSpy.init(elems);

        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);

        var toastElement = document.querySelector('.toast');
        var toastInstance = M.Toast.getInstance(toastElement);
        toastInstance.dismiss();

    });
    </script>
    
    <!--Modificar-->
    <script>
    $(document).ready(function(){
    $('.sidenav').sidenav({
        edge: 'right'
    });
  });
    </script>

    <script>


    </script>

    <script src="{% static 'koras_joyeria/material/js/materialize.js' %}"></script>
    <script src="{% static 'koras_joyeria/material/js/materialize.min.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--
    {% if messages %}
    {% for m in messages %}
    <script>
        Swal.fire('{{m}}')
    </script>
    {% endfor %}
    {% endif %}
-->
</body>
</html>