{% extends 'koras_joyeria/base/base.html' %}

{% load static %}

{% block title2 %}Editar perfil{% endblock title2 %}

{% block content %}

<div class="container">
    <br><br><br>
    <div class="row center">
        <form class="col s12">
          <img src="{{ user.profile.image.url }}" class="imgEdit left">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="{{ user.first_name }}" id="first_name" type="text" class="validate">
              <label for="first_name">Nombre</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="{{ user.last_name }}" id="first_name" type="text" class="validate">
              <label for="first_name">Apellido</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="{{ user.username }}" id="first_name" type="text" class="validate">
              <label for="first_name">Nombre de usuario</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="{{ user.email }}" id="first_name" type="text" class="validate">
              <label for="first_name">Correo electronico</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="Nombre de usuario" id="first_name" type="text" class="validate">
              <label for="first_name">{{ user.username }}</label>
            </div>

          </div>
        </form>

      </div>
</div>


{% endblock content %}
