{% extends 'koras_joyeria/base/base.html' %}

{% load static %}

{% block title2 %}Editar perfil{% endblock title2 %}

{% block content %}

<div class="container center">
    <br><br><br><br>

    <div class="row">
        <form class="col s12" method="post" action="" enctype="multipart/form-data">
          <div class="input-field left caja_7">
            <img src="{{ user.profile.image.url }}" class="imgEdit left">
            <div class="ovrly"></div>
            <div class="buttons">
              <a href="#" class="fa fa-link"><i class="material-icons center">add_a_photo</i></a>
            </div>
            <div class="file-field input-field">
              <div class="">
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Cargar foto de perfil">
              </div>
            </div>
          </div>
          

          <div class="row">
            <div class="input-field col s6">
              <input placeholder="" id="first_name" type="text" class="validate" value="{{ user.first_name }}">
              <label for="first_name">Nombre</label>
            </div>

            <div class="input-field col s6">
              <input placeholder="{{ user.last_name }}" id="first_name" type="text" class="validate" value="{{ user.last_name }}">
              <label for="first_name">Apellido</label>
            </div>

            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" value="{{ user.username }}">
              <label for="first_name">Usuario</label>
            </div>

            
  
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" value="{{ user.email }}">
              <label for="first_name">Correo electronico</label>
            </div>

            <div class="input-field col s6">
              <a class="waves-effect waves-light btn grey">Actualizar perfil</a>
            </div>

          </div>
        </form>
      </div>
</div>


{% endblock content %}
