{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}{{ user.username }}{% endblock title2 %}

{% block content %}
<br><br>
<div class="container">
<div class="row">
    <div class="col s12 m3">
      <div class="card center">
          <img src="{{ user.profile.image.url }}" class="img-info-user">
          <div class="info-card">
          <p class="card-title t">@{{ user.username }}</p>
          <p>{{ user.email }}</p>
          <a class="waves-effect waves-light btn pulse grey" href="{% url 'koras_joyeria:profileEdit' %}"><i class="material-icons right">edit</i>Editar perfil</a>
        </div>
    </div>
    </div>
    <div class="col s12 m8">
        <div class="card center">
          <div class="favoritos">
            <h5>Favoritos</h5>
            <br><br><br><br><br>
          </div>
            <hr>
            <div class="carritos">
              <h5>Añadidos al carrito</h5>
              {% include 'koras_joyeria/tienda/ver-carrito.html' %}
            </div>
            <hr>
            <div class="compras">
              <h5>Compras realizadas</h5>
              <br><br><br><br><br>
            </div>
            
        </div>
      </div>

  </div>
</div>

{%endblock %}

