{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Editar Productos{% endblock title2 %}

{% block content %}
<br><br><br><br>

<div class="container">
    <div class="row">
        <form class="col s12" method="post" action="" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Nombre del producto</label>
            </div>

            <div class="input-field left caja_7">
              <img src="{% static 'koras_joyeria/img/font-joyas.jpg' %}" class="imgEditProducto">
              <div class="ovrly"></div>
              <div class="buttons">
                <a href="#" class="fa fa-link"><i class="material-icons center">add_a_photo</i></a>
              </div>
              <div class="file-field input-field">
                <div class="">
                  <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Cargar foto de perfil">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">Precio</label>
            </div>
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">Descripción</label>
              </div>
          </div>
</div>

{% endblock %}