{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Diseñar joya{% endblock title2 %}

{% block content %} 

<section>
    <div class="container">
        <div class="sesion container">
            <h4 class="lgrey">Encuentra tu joya ideal</h4>
          </div>
        <br>
        
        <form action="#">
          <div class="file-field input-field">
            <div class="btn grey">
              <span>Imagen</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Agrega una imagen del producto que buscas">
            </div>
          </div>
        </form>
        <div class="container">
          <h5 class="center">Diseña tus joyas</h5>
          <p class="lgrey center">Crea diseños personalizados a tu preferencia y encuentra las mejores opciones para realizar tu compra</p>
          <hr>
          <h5 class="lgrey center">Pasos a seguir para realizar un diseño personalizado</h5>
          </div>
    
        <div class="col s12 m7">
          
          <div class="card horizontal">
            <div class="card-image">
              <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1249442477-612x612.jpg' %}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Como primer paso tendras que imaginar como es la joya que quieres y luego seleccionar un tipo de base para la misma que se encontraran disponibles en el sistema, despues daras a la clic en la opcion de continuar para seguir con el proceso de diseñar joya</p>
              </div>
              <div class="card-action">
                <a href="#" class="black-text">Paso 1: Seleccionar base</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col s12 m7">
         
          <div class="card horizontal">
            
            <div class="card-stacked">
              <div class="card-content">
                <p>Como segundo paso tendras que seleccionar un ensamble o piedra que quieres que adquiera tu joya a comprar.</p>
              </div>
              <div class="card-action">
                <a href="#" class="black-text">Paso 2: Seleccionar un ensamble o piedra</a>
              </div>
            </div>
            <div class="card-image">
              <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-516889988-612x612.jpg' %}">
            </div>
          </div>
        </div>
    
        <div class="col s12 m7">
          <h2 class="header">Selecciona tu joya</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1274828960-612x612.jpg' %}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Luego de realizar los dos pasos anteriores ya tendras lista la maqueta de tu joya personalizada, por lo tanto podras elegir tu joya ideal entre las opciones que te mostraremos por pantalla.</p>
              </div>
              <div class="card-action">
                <a href="#" class="black-text">Paso 3: Seleccionar joya</a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col s12 m7">
          <h2 class="header">Comprar joya</h2>
          <div class="card horizontal">
            
            <div class="card-stacked">
              <div class="card-content">
                <p>Al seleccionar la joya que prefieres podras visualizar el detalle de su informaciòn y caracteristicas y podras agregarla a tu carrito de compras para realizar tu compra.
                  Como segundo paso tendras que seleccionar un ensamble o piedra que quieres que adquiera tu joya a comprar.</p>
              </div>
              <div class="card-action">
                <a href="#" class="black-text">Paso 4: Comprar joya</a>
              </div>
            </div>
            <div class="card-image">
              <img src="{% static 'koras_joyeria\imagenes\joyas\gettyimages-1251002827-612x612.jpg' %}">
            </div>
          </div>
        </div>
        <div class="container">
          <h5 class="center">Selecciona el tipo de joya que deseas diseñar</h5>
          <hr>
          </div>
        <div>
          <div class="cards-list">
          
            {% for categoria in categorias %}
            <a href="{% url 'koras_joyeria:diseñarColor' categoria.id %}">
              <div class="cardd 1" style="height: 500px;">
                <div class="card_imagen"> <img src="{{ categoria.foto.url }}" /> </div>
                <div class="card_title title-white">
                  <h4 class="lgrey">{{ categoria.nombre_categoria }}</h4>
                </div>
              </div>
            </a>
              {% endfor %}
              
              
              </div>
        </div>

        <hr>

    </div>
</section>


{% endblock %}