{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Personalizar cadena{% endblock title2 %}

{% block content %} 

<section>
    <div class="container">
      <a href="{% url 'koras_joyeria:diseñarHome' %}"><i class="small material-icons left black-text">arrow_back</i></a>
        <div class="sesion container">
            <h4 class="lgrey">Personalizar {{dcolor.categoria}}</h4>
          </div>
          <br>
        
        <form action="#">
          <div class="file-field input-field">
            <div class="btn grey">
              <span>Imagen</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Agrega una imagen del estilo de cadena que buscas">
            </div>
          </div>
        </form>
        <br>

        <div class="container">
          
          <h4 class="center lgrey">Prediseñar joya</h4>
          <p class="center grey-text">Escoja la opciòn adecuada a la joya que busca</p>
          <hr>
          
        </div>

        <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3 grey-text"><a href="#test1" class="active grey-text">Paso 1</a></li>
        <li class="tab col s3"><a class="grey-text" href="#test2">Paso 2</a></li>
        <li class="tab col s3"><a class="grey-text" href="#test3">Paso 3</a></li>
        <li class="tab col s3"><a class="grey-text" href="#test4">Paso 4: Comprar</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12 card">
      <h6 class="center lgrey">Seleccione la base de la cadena</h6><br>
      <span>Mostrar modelo de las bases para cadenas, luego de seleccionar lo llevara al paso 2 y guardara el id seleccionado</span>
      <br>
      
      <div class="row">
        {% for basejoya in dcolor.get_basejoya.all %}
        <div class="col s12 m6">
          <div class="card">
            <a href="#">
          <div class="card-image">
            <img src="{{basejoya.image.url}}" alt="base joya" height="300px">
          </div>
            </a>
        </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
      
    <div id="test2" class="col s12 card">
      <h6 class="center lgrey">Seleccione el ensamble o piedra para la joya</h6><br>
      <span>Mostrar modelo de ensambles para cadenas, luego de seleccionar lo llevara al paso 3 y guardara el id seleccionado (en una tabla de mucho a muchos)</span>
      <br>
      
      <div class="row">
        {% for ensamblespiedrasjoya in dcolor.get_ensamblespiedrasjoya.all %}
        <div class="col s12 m6">
          <div class="card">
            <a href="#">
          <div class="card-image">
            <img src="{{ensamblespiedrasjoya.image.url}}" alt="base joya" height="300px">
          </div>
            </a>
        </div>
        </div>
        {% endfor %}

        {% if ensamblespiedrasjoya.color == null %}
        {% for piedrasjoya in dcolor.categoria.get_ensamblespiedrasjoya.all %}
        <div class="col s12 m2">
          <div class="card" style="width: 90px; height: 90px;">
            <a href="#">
          <div class="card-image" >
            <img src="{{piedrasjoya.image.url}}" alt="base joya">
          </div>
            </a>
        </div>
        </div>
        {% endfor %}
        {% endif %}


        
      </div>
    </div>
    <div id="test3" class="col s12 card">
      <h6 class="center lgrey">Productos encontrados</h6><br>
      <span>Mostrar el diseño y los productos similares a las opciones y mostrar detalle al producto que seleccione</span>
    </div>
    <div id="test4" class="col s12 card">Test 4</div>
  </div>

      

        

    

    </div>
</section>


{% endblock %}