{% extends 'koras_joyeria/base/base.html' %}
{% load static %}

{% block title2 %}Personalizar cadena{% endblock title2 %}

{% block content %} 

<section>
    <div class="container">
      <a href="{% url 'koras_joyeria:diseñarHome' %}"><i class="small material-icons left black-text">arrow_back</i></a>
        <div class="sesion container">
            <h4 class="lgrey">Personaliza tu cadena</h4>
          </div>
          <br>
        
        <form action="#">
          <div class="file-field input-field">
            <div class="btn grey">
              <span>Imagen</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Agrega una imagen del estilo de cadena que buscas">
            </div>
          </div>
        </form>
        <br>

        <div class="container">
          
          <h4 class="center lgrey">Prediseñar joya</h4>
          <p class="center grey-text">Escoja la opciòn adecuada a la joya que busca</p>
          <hr>
          
        </div>

        <nav class="grey">
          <div class="nav-wrapper">
            <div class="col s12 ">
              <a href="#11" class="breadcrumb lgrey">Paso 1: Base</a>
              <a href="#22" class="breadcrumb lgrey">Paso 2: Ensambles</a>
              <a href="#!" class="breadcrumb lgrey">Paso 3: Seleccionar producto</a>
              <a href="#!" class="breadcrumb lgrey">Paso 4: Realizar compra</a>
            </div>
          </div>
        </nav>

        <section>
          <div class="card">
            <br><br><br><br><br><br><br><br><br><br>
          </div>
        </section>

    

    </div>
</section>


{% endblock %}